body{
	margin: 0;
	padding:0;
}
.bar{
	width: 90px;
	height: 500px;
	margin-top: 100px;
	border-radius: 180px;
	display: inline-block;
	position: absolute;
	opacity: 0.9;
	mix-blend-mode: multiply;
}
.everything{

}


.greenBar{
	background-color:#3CB187;
	transform: rotate(-13deg);
	z-index: -1;
	left: 400px;
	top: 60px;

}
.yellowBar{
	background-color: #DFA22F;
	transform: rotate(-13deg);
	z-index: -1;
	left: 600px;
	top:10px;
}
.redBar{
	background-color:#CE1E5B;
	position: relative;
	transform: rotate(74deg);
	left: 520px;
	top: 130px;
}
.blueBar{
	background-color: #72C5CD;
	transform: rotate(74deg);
	left: 480px;
	bottom: 250px;
}